flows.json
[
    {
        "id": "60b97ccbc49a157d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "374522709711dc33",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba980d16c46d9bc6",
        "type": "tab",
        "label": "Practice27",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9b28c690cfdca0d1",
        "type": "mqtt-broker",
        "name": "Raspi8",
        "broker": "192.168.1.103:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2b7ac01b.fc984",
        "type": "ui_group",
        "name": "SENSORS",
        "tab": "99ab8dc5.f435c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "99ab8dc5.f435c",
        "type": "ui_tab",
        "name": "HTTP",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "80de04ed18e61176",
        "type": "inject",
        "z": "60b97ccbc49a157d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "HOLA",
        "payloadType": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "8f98f14ccbe7e1f3"
            ]
        ]
    },
    {
        "id": "8f98f14ccbe7e1f3",
        "type": "debug",
        "z": "60b97ccbc49a157d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "93afc2e181291362",
        "type": "mqtt in",
        "z": "374522709711dc33",
        "name": "",
        "topic": "cefi/projecte1/fabrica1/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b28c690cfdca0d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "26cad63313dab3c2",
                "2403cd9b.1b5802",
                "967ea0402c328df1"
            ]
        ]
    },
    {
        "id": "26cad63313dab3c2",
        "type": "debug",
        "z": "374522709711dc33",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "42326adb62103b0f",
        "type": "ubidots_out",
        "z": "374522709711dc33",
        "name": "",
        "token": "BBUS-5tIiaepkhkJqhnm0GU659qmNwPD6CP",
        "label_device": "",
        "device_label": "machine_1",
        "tier": "business",
        "tls_checkbox": true,
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "2403cd9b.1b5802",
        "type": "function",
        "z": "374522709711dc33",
        "name": "function",
        "func": "var label = msg.topic;\nvar value = msg.payload;\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "42326adb62103b0f"
            ]
        ]
    },
    {
        "id": "967ea0402c328df1",
        "type": "thingspeak42",
        "z": "374522709711dc33",
        "name": "",
        "delay": "15",
        "topic1": "cefi/projecte1/fabrica1/temp1",
        "topic2": "",
        "topic3": "",
        "topic4": "",
        "topic5": "",
        "topic6": "",
        "topic7": "",
        "topic8": "",
        "endpoint": "https://thingspeak.com",
        "x": 590,
        "y": 300,
        "wires": []
    }
]