flows.json
[
    {
        "id": "497faf91ed1a296a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60b97ccbc49a157d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "374522709711dc33",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba980d16c46d9bc6",
        "type": "tab",
        "label": "Practice27",
        "disabled": true,
        "info": ""
    },
    {
        "id": "388921ca8de47e07",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "ba0769d780e66b06",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b28c690cfdca0d1",
        "type": "mqtt-broker",
        "name": "Raspi8",
        "broker": "192.168.1.103:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2b7ac01b.fc984",
        "type": "ui_group",
        "name": "SENSORS",
        "tab": "99ab8dc5.f435c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "99ab8dc5.f435c",
        "type": "ui_tab",
        "name": "HTTP",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "489a868ab000e3d9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.8.6",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "725706ee4d6f6f91",
        "type": "telegram bot",
        "botname": "Raspi8_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "de3865504f29a986",
        "type": "telegram bot",
        "botname": "Raspi8_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "bfc7ce5919d52349",
        "type": "switch",
        "z": "497faf91ed1a296a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "24",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "24",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "d326289871f44b56"
            ],
            [
                "68bb4add92f52a95"
            ]
        ]
    },
    {
        "id": "d326289871f44b56",
        "type": "change",
        "z": "497faf91ed1a296a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temperatura",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "cdd6dffa332128f8"
            ]
        ]
    },
    {
        "id": "68bb4add92f52a95",
        "type": "change",
        "z": "497faf91ed1a296a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temperatura",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "cdd6dffa332128f8"
            ]
        ]
    },
    {
        "id": "cdd6dffa332128f8",
        "type": "rbe",
        "z": "497faf91ed1a296a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "e597302b2572ca2e"
            ]
        ]
    },
    {
        "id": "e597302b2572ca2e",
        "type": "switch",
        "z": "497faf91ed1a296a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "f1bfd5445855900b"
            ],
            [
                "e755b2ef40983725"
            ]
        ]
    },
    {
        "id": "f1469cb2c692e370",
        "type": "debug",
        "z": "497faf91ed1a296a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "db6591a4af2ffc72",
        "type": "mqtt in",
        "z": "497faf91ed1a296a",
        "name": "",
        "topic": "cefi/ejercicio1/fab1/temp6",
        "qos": "2",
        "datatype": "auto",
        "broker": "489a868ab000e3d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "bfc7ce5919d52349",
                "623b6adcc7f6bdad"
            ]
        ]
    },
    {
        "id": "623b6adcc7f6bdad",
        "type": "debug",
        "z": "497faf91ed1a296a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "f1bfd5445855900b",
        "type": "function",
        "z": "497faf91ed1a296a",
        "name": "",
        "func": "msg.payload=\"ALARMA!!! \" + flow.get('temperatura');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "f1469cb2c692e370"
            ]
        ]
    },
    {
        "id": "e755b2ef40983725",
        "type": "function",
        "z": "497faf91ed1a296a",
        "name": "",
        "func": "msg.payload=\"TODO OK\" + flow.get('temperatura');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "f1469cb2c692e370"
            ]
        ]
    },
    {
        "id": "80de04ed18e61176",
        "type": "inject",
        "z": "60b97ccbc49a157d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "HOLA",
        "payloadType": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "8f98f14ccbe7e1f3"
            ]
        ]
    },
    {
        "id": "8f98f14ccbe7e1f3",
        "type": "debug",
        "z": "60b97ccbc49a157d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "93afc2e181291362",
        "type": "mqtt in",
        "z": "374522709711dc33",
        "name": "",
        "topic": "cefi/projecte1/fabrica1/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b28c690cfdca0d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "26cad63313dab3c2",
                "2403cd9b.1b5802",
                "967ea0402c328df1"
            ]
        ]
    },
    {
        "id": "26cad63313dab3c2",
        "type": "debug",
        "z": "374522709711dc33",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "42326adb62103b0f",
        "type": "ubidots_out",
        "z": "374522709711dc33",
        "name": "",
        "token": "BBUS-5tIiaepkhkJqhnm0GU659qmNwPD6CP",
        "label_device": "",
        "device_label": "machine_1",
        "tier": "business",
        "tls_checkbox": true,
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "2403cd9b.1b5802",
        "type": "function",
        "z": "374522709711dc33",
        "name": "function",
        "func": "var label = msg.topic;\nvar value = msg.payload;\n\nmsg.payload = {\n [label]: value\n};\n\nmsg.payload.ubidotsDeviceLabel = \"Machine_1\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "42326adb62103b0f"
            ]
        ]
    },
    {
        "id": "967ea0402c328df1",
        "type": "thingspeak42",
        "z": "374522709711dc33",
        "name": "",
        "delay": "15",
        "topic1": "cefi/projecte1/fabrica1/temp1",
        "topic2": "",
        "topic3": "",
        "topic4": "",
        "topic5": "",
        "topic6": "",
        "topic7": "",
        "topic8": "",
        "endpoint": "https://thingspeak.com",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "3429d033aeb1392d",
        "type": "telegram receiver",
        "z": "ba0769d780e66b06",
        "name": "",
        "bot": "725706ee4d6f6f91",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "089f586fa87c3216"
            ],
            []
        ]
    },
    {
        "id": "089f586fa87c3216",
        "type": "debug",
        "z": "ba0769d780e66b06",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "ecd8c3e995ea9604",
        "type": "inject",
        "z": "ba0769d780e66b06",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "12bcf640865a415d"
            ]
        ]
    },
    {
        "id": "12bcf640865a415d",
        "type": "function",
        "z": "ba0769d780e66b06",
        "name": "function 1",
        "func": "msg.payload={\n    \"chatId\":400176404,\n    \"type\":\"message\",\n    \"content\":\"Holaaaa esmorzem?\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "cfe4e6cdc40f1139"
            ]
        ]
    },
    {
        "id": "cfe4e6cdc40f1139",
        "type": "telegram sender",
        "z": "ba0769d780e66b06",
        "name": "",
        "bot": "725706ee4d6f6f91",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b98f164eb1103c91",
        "type": "telegram command",
        "z": "ba0769d780e66b06",
        "name": "",
        "command": "/temp1",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "725706ee4d6f6f91",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "4d1a585a0ce06e7f",
                "12bcf640865a415d"
            ],
            []
        ]
    },
    {
        "id": "4d1a585a0ce06e7f",
        "type": "debug",
        "z": "ba0769d780e66b06",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    }
]